@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--color-primary-bright-1-t-70);
  }
  50% {
    box-shadow: 0 0 10px 3px var(--color-primary-bright-1-t-40);
  }
  100% {
    box-shadow: 0 0 0 0 var(--color-primary-bright-1-t-70);
  }
}
