.hud {
  position: absolute;
  bottom: 1em;
  right: 1em;
  left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.25em;
}

.resource-count {
  color: var(--color-primary-bright-1);
  font-weight: bold;
}

.hud-section {
  background: var(--color-primary-dark-0-t-90);
  border: 1px solid var(--color-primary-dark-1);
  width: 250px;
}

.hud-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

meter {
  display: block;
  width: 100%;
}

.weapons-list {
  padding: 0;
  list-style: none;
  color: var(--color-primary-bright-3);
}

.weapon {
  transition: color 0.2s ease-out;
}

.current-weapon {
  display: block;
  color: var(--color-primary-bright-1);
}
