.hud {
  position: absolute;
  bottom: 1em;
  right: 1em;
  left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.25em;
}

.resource-count {
  color: var(--color-primary-bright-1);
  font-weight: bold;
}

.hud-section {
  background: var(--color-primary-dark-0-t-90);
  border: 1px solid var(--color-primary-bright-4);
  max-width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hud-section canvas {
  width: 180px;
  aspect-ratio: 1;
}

meter {
  display: block;
  width: 100%;
}

.weapons-list {
  padding: 0;
  list-style: none;
  color: var(--color-primary-bright-4);
}

.weapon {
  transition: color 0.2s ease-out;
}

.current-weapon {
  display: block;
  color: var(--color-primary-bright-1);
}

.sector-title {
  position: absolute;
  top: 1em;
  left: 1em;
  transition: opacity 0.5s ease-out;
  max-width: 300px;
  text-shadow: 0 0 3px black;
}

.sector-title.is-hidden {
  opacity: 0;
}
