#__bs_notify__ {
  display: none !important;
}

canvas {
  background: black;
}

#main-canvas {
  width: 100%;
  height: 100%;
}

#mini-map-canvas {
  border: 1px solid #666;
  position: absolute;
  bottom: 1em;
  right: 1em;
}

* {
  margin: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.4;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
}

.game {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.ship {
  transform-origin: center;
  transform: rotate(var(--rotation, 0));
  width: 50px;
  height: auto;
}

.resource-count,
.health {
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.resource-count {
  color: gold;
  bottom: 3rem;
}

.message-queue {
  position: absolute;
  top: 1em;
  right: 1em;
  display: grid;
  gap: 0.5em;
  width: 20em;
}

.message {
  background: hsla(190, 10%, 95%, 0.8);
  border-radius: 0.5em;
  padding: 0.75em;
  display: grid;
  gap: 1em;
  animation: fade 0.5s ease-out both;
}

.message.is-hiding {
  animation: fade 0.5s ease-out reverse both;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  background-color: hsla(192, 72%, 17%, 0.5);
  transition-property: opacity, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(1px);
  opacity: 1;
}

.menu:not(.is-shown) {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.8);
}

.settings {
  display: flex;
  gap: 1em;
  align-items: center;
}

.menu-inner {
  background: hsla(190, 10%, 95%, 0.8);
  padding: 3em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  gap: 1em;
  align-items: center;
}

.game > :not(#main-canvas) {
  transition: opacity 2s ease-out;
}

#main-canvas {
  transition: transform 2s ease-out;
}

.game:not(.is-started) > :not(#main-canvas) {
  opacity: 0;
}

.game:not(.is-started) #main-canvas {
  transform: scale(3);
}
