canvas {
  background: black;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0;
}

.game {
  display: grid;
  place-items: center;
  grid-template-areas: "content";
}

canvas,
.ship {
  grid-area: content;
}

.ship {
  transform-origin: center;
  transform: rotate(var(--rotation, 0));
  width: 50px;
  height: auto;
}
