*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.4;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
}

kbd {
  padding: 0 0.8em;
  position: relative;
  color: var(--color-primary-bright-1);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  top: -0.075em;
  z-index: 0;
}

kbd::before,
kbd::after {
  content: "";
  position: absolute;
  inset: 0 0.4em;
  z-index: -1;
}

kbd::before {
  box-shadow: 0 0.05em 0 0.15em var(--color-primary-bright-3);
}

kbd::after {
  background: var(--color-primary-dark-1-t-90);
  border: 1px solid var(--color-primary-bright-3);
}

@media (min-width: 840px) and (min-height: 650px) {
  .small-screen-warning {
    display: none !important;
  }
}