canvas {
  background: black;
}

html {
  font-family: sans-serif;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0;
}

.game {
  display: grid;
  place-items: center;
  grid-template-areas: "content";
  position: relative;
}

canvas,
.ship {
  grid-area: content;
}

.ship {
  transform-origin: center;
  transform: rotate(var(--rotation, 0));
  width: 50px;
  height: auto;
}

.resource-count,
.health {
  color: gold;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.health {
  left: 1em;
  right: auto;
}
