canvas {
  background: black;
}

html {
  font-family: sans-serif;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
}

.game {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.ship {
  transform-origin: center;
  transform: rotate(var(--rotation, 0));
  width: 50px;
  height: auto;
}

.resource-count,
.health {
  color: gold;
  font-weight: bold;
  font-size: 3rem;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.health {
  left: 1em;
  right: auto;
}

.menu {
  background-color: hsla(192, 72%, 17%, 0.5);
  transition: opacity 0.2s ease-out;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(1px);
}

.menu:not(.is-shown) {
  pointer-events: none;
  opacity: 0;
}

.menu-inner {
  background: hsla(190, 10%, 95%, 0.8);
  padding: 3em;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  gap: 1em;
  align-items: center;
}
