.menu {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  opacity: 1;
  backdrop-filter: blur(2px);
}

.menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-primary-bright-3);
  background-image: repeating-linear-gradient(
    115deg,
    var(--color-primary-bright-3),
    var(--color-primary-bright-3) 10px,
    var(--color-primary-bright-2) 10px,
    var(--color-primary-bright-2) 20px
  );
  opacity: 0.5;
}

.menu:not(.is-shown) {
  pointer-events: none;
  opacity: 0;
}

.menu-inner {
  border: 1px solid var(--color-primary-bright-3);
  background-color: var(--color-primary-dark-1-t-90);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: transform 0.3s ease-out;
  position: relative;
}

.menu-inner::before,
.menu-inner::after {
  position: absolute;
  z-index: 0;
  content: "";
  width: 4rem;
  aspect-ratio: 1;
  border: inherit;
  border-width: 3px;
}

.menu-inner::before {
  top: -1em;
  left: -1em;
  border-bottom: none;
  border-right: none;
}

.menu-inner::after {
  bottom: -1em;
  right: -1em;
  border-top: none;
  border-left: none;
}

.menu:not(.is-shown) .menu-inner {
  transform: scale(0.9);
}

.menu-section {
  padding: 1rem 3rem;
  display: grid;
  gap: 1rem;
  text-align: center;
  justify-content: center;
}

.menu-section + .menu-section {
  border-top: 1px solid;
  border-color: inherit;
}

.settings {
  display: flex;
  gap: 1em;
  justify-content: stretch;
}

.settings fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: flex-start;
  flex-grow: 1;
  border-color: var(--color-primary-bright-3);
}

.settings legend {
  font-family: var(--font-display);
  font-size: 1.25rem;
}

.settings label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
