.message-queue {
  position: absolute;
  top: 1em;
  right: 1em;
  display: grid;
  gap: 0.5em;
  width: 20em;
}

.message {
  background: hsla(190, 10%, 95%, 0.8);
  border-radius: 0.5em;
  padding: 0.75em;
  display: grid;
  gap: 1em;
  animation: fade 0.5s ease-out both;
}

.message.is-hiding {
  animation: fade 0.5s ease-out reverse both;
}
