.message-queue {
  position: absolute;
  top: 1em;
  right: 1em;
  display: grid;
  gap: 0.5em;
  width: 20rem;
  font-size: 1.125em;
}

.message {
  border: 1px solid var(--color-primary-bright-4);
  background: var(--color-primary-dark-0-t-90);
  display: grid;
  animation: fade 0.5s ease-out both;
}

.message > * {
  padding: 0.75em;
}

.message > * + * {
  border-top: 1px solid;
  border-color: inherit;
}

.message.is-hiding {
  animation: fade 0.5s ease-out reverse both;
}

.objectives {
  list-style: none;
}

.objective label {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.objective.is-completed {
  opacity: 0.6;
}
