@font-face {
  font-family: "Cartridge";
  src: url("../fonts/Cartridge-Regular.woff2") format("woff2");
}

@font-feature-values 'Cartridge' {
  @styleset {
    special-styleset: 1;
  }
}

:root {
  --font-base: Roboto, system-ui, sans-serif;
  --font-display: "Cartridge";
}

html {
  font-family: var(--font-base);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 1.2;
  padding-top: 0.1em;
}

h1 {
  font-variant-alternates: styleset(special-styleset);
  font-size: 6rem;
  line-height: 1;
}

h2 {
  font-size: 2.5em;
}
